
body {
    background:grey;
    min-height: 100%;
}

h3 {
    color: dodgerblue;

}

.tile-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 1 auto;
    width: 450px;
    min-height: 100px;
}



.tile {
    height: 100px;
    width: 100px;
    border: solid black;
}
